@import 'tailwindcss';

/* === 通用樣式 === */
a,
button {
  cursor: pointer;
}

.fc-primary {
  color: #2e7c71;
}

.bg-primary {
  background-color: #2e7c71;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Noto Sans TC',  system-ui, -apple-system, Segoe UI, Roboto,  sans-serif;
  color: #2e7c71;
}
